* {
    margin: 0;
    padding: 0;
}
/* 背景 */
body {
    background-color: #000000;
}
a {
    text-decoration: none;
    color: white;
}
#canvas {
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
    background: url(".././img/back.webp");
    background-size: cover;
    opacity: 0.5;
}

.content {
    display: flex;
    flex-direction: column;
    /*padding-left: 50px;*/
}

.top {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
    background-color: rgba(20, 21, 22,0.6);
    width: 100%;
}

.top_left {
    width: 1000px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#slogan {
    width: 300px;
    height: 70px;
}


.news_switch {
    list-style: none;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

.news_switch li{
    display: inline-block;

}
.top_right {
    position: fixed;
    top: 30px;
    right: 60px;
    /*width: calc(100% - 1000px);*/
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 16px;
    color: aliceblue;
}

.top_right a{
    color: rgb(133, 135, 137);
}
.top_right a:hover{
    color: white;
}

.body {
    display: flex;
    flex-direction: row;
    /* height: 480px; */
}
.body_left {
    padding-top: 100px;
    display: flex;
    flex-direction: column;

}
.body_right {
    position: relative;
    padding-top: 100px;
}
#Logo {
    z-index: 0;
}
/*轮播图*/

.wrap {
    height: 230px;
    width: 870px;
    margin-left: 50px;
    position: relative;
}

.list {
    /*width: 800px;*/
    /*height: 400px;*/
    position: relative;
    padding-left: 0px;
    margin: 0;
}

.item {
    width: 100%;
    height: 100%;
    list-style: none;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all .8s;
}

.item.active {
    z-index: 10;
    opacity: 1;
}

.btn {
    width: 60px;
    height: 100px;
    z-index: 100;
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
    top: 78px;
    position: absolute;
    cursor: pointer;
    user-select: none;
}

#leftBtn {
    left: 0px;
}

#rightBtn {
    right: -20px;
}

.pointList {
    list-style: none;
    padding-left: 0px;
    position: absolute;
    right: 70px;
    bottom: -5px;
    z-index: 200;
}

.point {
    width: 50px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    float: left;
    margin-right: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: slategray;
    cursor: pointer;
    user-select: none;
}

.point.active{
    background-color: rgba(200, 200, 200, 1);
}

/*新闻*/
.news {
    height: 460px;
    width: 950px;
    margin-left: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}
.newsList{
    list-style: none;
    color: white;
    padding: 5px;
    height: 35px;

    flex-basis: 16.666%;
    border-image: linear-gradient(to right, #464646 0%, #464646 60%, rgba(70, 70, 70, 0) 100%) 30 stretch;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid;
}
.newsList a{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.newsList a::before{
    content: "READ MORE +";
    display: inline-block;
    font-weight: bold;
    font-size: 0.675rem;
    text-align: right;
    color: #000;
    font-family: "Bender";
    background-color: #22bbff;
    margin-right: 0;
    padding: 5px 0px;
    transition: width 0.5s, margin-right 0.3s, padding 0.3s;
    white-space: nowrap;
    width: 0;
    box-sizing: content-box;
    overflow: hidden;
}
.newsList a:hover::before{
    width: 11em;
    margin-right: 2em;
    padding: 5px 7px;
}
.newsList .newsDate{
    /*margin: 0 10px;*/
    /*font-size: 14px;*/
    font-family: "Bender";
    color: #fff;
    font-size: 0.875rem;
    width: 6em;
    text-align: center;
    white-space: nowrap;
}

.newsFlag {
    font-family: "SansMedium";
    color: #22bbff;
    font-size: 1rem;
    margin-left: 2.25rem;
}

.newsContent{
    font-family: sans-serif;
    color: #fff;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
    margin-left: 0.75rem;
    display: block;
    /*width: 600px;*/
}

.footer-wrapper {
    background-color: rgba(20, 21, 22,0.8);
    color: white;
    margin: 0;
    margin-top: 100px;
}
.footer-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-image: linear-gradient(to right, #464646 0%, #464646 60%, rgba(70, 70, 70, 0) 100%) 30 stretch;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;

}
.footer-links-item {
    margin-left: 20px;
}
.footer-slot {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-qualifications {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.footer-qualifications-item {
    width: 320px;
    display: flex;
    justify-content: center;
}
.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
}